version: "3.5"

services:
  lago-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=lago
      - POSTGRES_USER=lago
      - POSTGRES_PASSWORD=lago
    volumes:
      - lago-db-data:/var/lib/postgresql/data
    networks:
      - dokploy-network

  lago-redis:
    image: redis:7-alpine
    volumes:
      - lago-redis-data:/data
    networks:
      - dokploy-network

  lago-api:
    image: getlago/api:v1.16.0
    depends_on:
      - lago-db
      - lago-redis
    environment:
      - LAGO_API_URL=http://lago-api:3000
      - LAGO_FRONT_URL=http://localhost:8088
      - DATABASE_URL=postgresql://lago:lago@lago-db:5432/lago
      - REDIS_URL=redis://lago-redis:6379/1
      - SIDECKIQ_REDIS_URL=redis://lago-redis:6379/2
      - SECRET_KEY_BASE=b871ed19c83665268c74149028bfdf3787727402660161421715423877960786
      - ENCRYPTION_DETERMINISTIC_KEY=c4772099e0df28646077558667c29579
      - ENCRYPTION_KEY_DERIVATION_SALT=5c72d9e685f02604297135317769532e
      - ENCRYPTION_PRIMARY_KEY=b871ed19c83665268c74149028bfdf37
      - LAGO_RSA_PRIVATE_KEY=${LAGO_RSA_PRIVATE_KEY}
    ports:
      - "3010:3000"
    networks:
      - dokploy-network

  lago-worker:
    image: getlago/api:v1.16.0
    entrypoint: [ "/app/scripts/start_worker.sh" ]
    depends_on:
      - lago-db
      - lago-redis
    environment:
      - DATABASE_URL=postgresql://lago:lago@lago-db:5432/lago
      - REDIS_URL=redis://lago-redis:6379/1
      - SIDECKIQ_REDIS_URL=redis://lago-redis:6379/2
      - SECRET_KEY_BASE=b871ed19c83665268c74149028bfdf3787727402660161421715423877960786
      - ENCRYPTION_DETERMINISTIC_KEY=c4772099e0df28646077558667c29579
      - ENCRYPTION_KEY_DERIVATION_SALT=5c72d9e685f02604297135317769532e
      - ENCRYPTION_PRIMARY_KEY=b871ed19c83665268c74149028bfdf37
      - LAGO_RSA_PRIVATE_KEY=${LAGO_RSA_PRIVATE_KEY}
    networks:
      - dokploy-network

  lago-clock:
    image: getlago/api:v1.16.0
    entrypoint: [ "/app/scripts/start_clock.sh" ]
    depends_on:
      - lago-db
      - lago-redis

    environment:
      - DATABASE_URL=postgresql://lago:lago@lago-db:5432/lago
      - REDIS_URL=redis://lago-redis:6379/1
      - SIDECKIQ_REDIS_URL=redis://lago-redis:6379/2
      - SECRET_KEY_BASE=b871ed19c83665268c74149028bfdf3787727402660161421715423877960786
    networks:
      - dokploy-network

  lago-front:
    image: getlago/front:v1.16.0
    environment:
      - API_URL=http://localhost:3000
    ports:
      - "8088:80"
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
    name: dokploy-network

volumes:
  lago-db-data:
  lago-redis-data:
