version: "3.8"

services:
  traefik:
    image: traefik:v3.0
    command:
      - --global.sendAnonymousUsage=false
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.docker.watch=true
      - --providers.docker.network=dokploy-network
      - --providers.file.directory=/etc/dokploy/traefik/dynamic
      - --providers.file.watch=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --api.insecure=true
      - --certificatesresolvers.letsencrypt.acme.email=bizoholic.digital@gmail.com
      - --certificatesresolvers.letsencrypt.acme.storage=/etc/dokploy/traefik/dynamic/acme.json
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/dokploy/traefik:/etc/dokploy/traefik
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
      - target: 8080
        published: 8080
        mode: host
    networks:
      - dokploy-network
    environment:
      - DOCKER_API_VERSION=1.45
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.1'
          memory: 128M

networks:
  dokploy-network:
    external: true
