version: "3.8"
services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: ${VAULT_DEV_ROOT_TOKEN_ID}
      VAULT_DEV_LISTEN_ADDRESS: ${VAULT_DEV_LISTEN_ADDRESS}
    ports:
      - "8200"
    volumes:
      - vault-data:/vault/file
    command: server -dev -dev-root-token-id=${VAULT_DEV_ROOT_TOKEN_ID} -dev-listen-address=${VAULT_DEV_LISTEN_ADDRESS}
    networks:
      - platformcore-vault-pgcenb
      - brain-network
      - dokploy-network
    labels:
      - traefik.http.routers.platformcore-vault-pgcenb-36-web.rule=Host(`vault.bizoholic.net`)
      - traefik.http.routers.platformcore-vault-pgcenb-36-web.entrypoints=web
      - traefik.http.services.platformcore-vault-pgcenb-36-web.loadbalancer.server.port=8200
      - traefik.http.routers.platformcore-vault-pgcenb-36-web.service=platformcore-vault-pgcenb-36-web
      - traefik.http.routers.platformcore-vault-pgcenb-36-web.middlewares=redirect-to-https@file
      - traefik.http.routers.platformcore-vault-pgcenb-36-websecure.rule=Host(`vault.bizoholic.net`)
      - traefik.http.routers.platformcore-vault-pgcenb-36-websecure.entrypoints=websecure
      - traefik.http.services.platformcore-vault-pgcenb-36-websecure.loadbalancer.server.port=8200
      - traefik.http.routers.platformcore-vault-pgcenb-36-websecure.service=platformcore-vault-pgcenb-36-websecure
      - traefik.http.routers.platformcore-vault-pgcenb-36-websecure.tls.certresolver=letsencrypt
      - traefik.enable=true
      - traefik.docker.network=dokploy-network
volumes:
  vault-data: null
networks:
  platformcore-vault-pgcenb:
    name: platformcore-vault-pgcenb
    external: true
  brain-network:
    external: true
    name: brain-network
  dokploy-network:
    external: true
    name: dokploy-network
