services:
  lago-api:
    image: getlago/api:v1.17.0
    container_name: lago-api
    command: >
      /bin/sh -c "echo \"RsaPrivateKey = OpenSSL::PKey::RSA.new(File.read('/app/keys/private.pem')); RsaPublicKey = RsaPrivateKey.public_key\" > config/initializers/rsa_keys.rb && ./scripts/start.sh"
    environment:
      - DATABASE_URL=postgresql://neondb_owner:npg_puEbTnkSO9F8@ep-gentle-flower-a15rdh2r-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
      - REDIS_URL=redis://default:Gt7QxXA4ybMzYzD9e6KIBULfnv1IU6f9@redis-10690.c264.ap-south-1-1.ec2.cloud.redislabs.com:10690/0
      - LAGO_REDIS_URL=redis://default:Gt7QxXA4ybMzYzD9e6KIBULfnv1IU6f9@redis-10690.c264.ap-south-1-1.ec2.cloud.redislabs.com:10690/0
      - LAGO_API_URL=https://billing-api.bizoholic.net
      - SECRET_KEY_BASE=85acd00b662a82aa2132d7639de8e6de655dcfe2d568abd05fbd069de0092dd4
      - ENCRYPTION_PRIMARY_KEY=2f9700e1e19ffbf8f970fa260e356c2b606ac09f2ee71ecd2a630936209337fb
      - ENCRYPTION_DETERMINISTIC_KEY=92ae2adaeb2093deb1e41a61ccb9b6f4fe5ec94b6b373f74c976b6b199c4efa6
      - ENCRYPTION_KEY_DERIVATION_SALT=135f8017cd510bbea948b0b06109c2d479f6b3f3fcb3e4d4181bf478715b85ba
      - RAILS_ENV=production
      - RAILS_LOG_TO_STDOUT=true
    volumes:
      - lago_keys_vol:/app/keys
    networks:
      - dokploy-network
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1024M
        reservations:
          cpus: "0.25"
          memory: 512M
    labels:
      - traefik.enable=true
      - traefik.docker.network=dokploy-network
      # HTTP Router (Port 80)
      - traefik.http.routers.lago-api.rule=Host(`billing-api.bizoholic.net`)
      - traefik.http.routers.lago-api.entrypoints=web
      # HTTPS Router (Port 443)
      - traefik.http.routers.lago-api-secure.rule=Host(`billing-api.bizoholic.net`)
      - traefik.http.routers.lago-api-secure.entrypoints=websecure
      - traefik.http.routers.lago-api-secure.tls.certresolver=letsencrypt
      - traefik.http.services.lago-api.loadbalancer.server.port=3000

  lago-front:
    image: getlago/front:v1.17.0
    container_name: lago-front
    environment:
      - LAGO_API_URL=https://billing-api.bizoholic.net
      - API_URL=https://billing-api.bizoholic.net
      - APP_ENV=production
    networks:
      - dokploy-network
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.1"
          memory: 128M
    labels:
      - traefik.enable=true
      - traefik.docker.network=dokploy-network
      # HTTP Router (Port 80)
      - traefik.http.routers.lago-front.rule=Host(`billing.bizoholic.net`)
      - traefik.http.routers.lago-front.entrypoints=web
      # HTTPS Router (Port 443)
      - traefik.http.routers.lago-front-secure.rule=Host(`billing.bizoholic.net`)
      - traefik.http.routers.lago-front-secure.entrypoints=websecure
      - traefik.http.routers.lago-front-secure.tls.certresolver=letsencrypt
      - traefik.http.services.lago-front.loadbalancer.server.port=80

  lago-worker:
    image: getlago/api:v1.17.0
    container_name: lago-worker
    command: >
      /bin/sh -c "echo \"RsaPrivateKey = OpenSSL::PKey::RSA.new(File.read('/app/keys/private.pem')); RsaPublicKey = RsaPrivateKey.public_key\" > config/initializers/rsa_keys.rb && ./scripts/start.worker.sh"
    environment:
      - DATABASE_URL=postgresql://neondb_owner:npg_puEbTnkSO9F8@ep-gentle-flower-a15rdh2r-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
      - REDIS_URL=redis://default:Gt7QxXA4ybMzYzD9e6KIBULfnv1IU6f9@redis-10690.c264.ap-south-1-1.ec2.cloud.redislabs.com:10690/0
      - LAGO_REDIS_URL=redis://default:Gt7QxXA4ybMzYzD9e6KIBULfnv1IU6f9@redis-10690.c264.ap-south-1-1.ec2.cloud.redislabs.com:10690/0
      - LAGO_API_URL=https://billing-api.bizoholic.net
      - SECRET_KEY_BASE=85acd00b662a82aa2132d7639de8e6de655dcfe2d568abd05fbd069de0092dd4
      - ENCRYPTION_PRIMARY_KEY=2f9700e1e19ffbf8f970fa260e356c2b606ac09f2ee71ecd2a630936209337fb
      - ENCRYPTION_DETERMINISTIC_KEY=92ae2adaeb2093deb1e41a61ccb9b6f4fe5ec94b6b373f74c976b6b199c4efa6
      - ENCRYPTION_KEY_DERIVATION_SALT=135f8017cd510bbea948b0b06109c2d479f6b3f3fcb3e4d4181bf478715b85ba
      - RAILS_ENV=production
      - RAILS_LOG_TO_STDOUT=true
    volumes:
      - lago_keys_vol:/app/keys
    networks:
      - dokploy-network
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1024M
        reservations:
          cpus: "0.25"
          memory: 512M

volumes:
  lago_keys_vol:
    external: true

networks:
  dokploy-network:
    external: true
    name: dokploy-network
